<h1 class="text-center">Gruppenliste</h1>
<h4 class="text-center">Hier können neue hinzugekommene Kinder eingetragen werden.</h4>
<!--Zeigt Beobachtungen an-->
<div class="container my-4">

  <!-- Formular -->

<div class="d-flex justify-content-center align-items-center">
  <div class="w-50">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-3">
      <div class="row mb-3">
          <!-- Alter -->
          <div class="col-md-7">
            <label for="name" class="form-label fw-bold">Name</label>
            <input id="name" formControlName="name" class="form-control" />
          </div>

          <!-- Alter -->
          <div class="col-md-2">
            <label for="alter" class="form-label fw-bold">Alter</label>
            <input id="alter" type="number" formControlName="alter" class="form-control" />
          </div>

          <!-- Gruppe -->
          <div class="col-md-3">
            <label for="gruppe" class="form-label fw-bold">Gruppe</label>
            <select id="gruppe" formControlName="gruppe" class="form-select">
              <option value="">Bitte wählen</option>
              <option value="Löwen">Löwen</option>
              <option value="Tiger">Tiger</option>
              <option value="Bären">Bären</option>
            </select>
          </div>
      </div>

       <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-outline-secondary" [disabled]="form.invalid">
            {{ editMode ? 'Aktualisieren' : 'Hinzufügen' }}
          </button>
          @if (editMode) {
            <button type="button" class="btn btn-outline-success ms-2" (click)="cancel()">Abbrechen</button>
          }
        </div>
      </form>

      <form [formGroup]="form" class="row g-3 justify-content-center mt-4">

       

        <div class="col-md-3 d-flex align-items-end">
          <button type="button" class="btn btn-outline-success ms-2" (click)="getChildGroup(2)">
            Kinder nach Gruppe anzeigen
          </button>
        </div>

        <div class="col-md-3">
          <label for="gruppe" class="form-label fw-bold">Gruppe</label>
          <select id="gruppe" formControlName="gruppe" class="form-select">
            <option value="">Bitte wählen</option>
            <option *ngFor="let g of groups" [ngValue]="g.id">
                    {{ g.definition }}
                  </option>
          </select>
        </div>

      </form>

  </div>
</div>


<hr />


<div class="container my-5">
<!-- Tabelle -->
  <table class="table table-hover table-responsive shadow rounded text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Alter</th>
        <th>Gruppe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (kind of kinder; track kind.id) {
        <tr>
          <td>{{ kind.name }}</td>
          <td>{{ kind.alter }}</td>
          <td>{{ kind.gruppe }}</td>
          <td>
            <button type="button" class="btn btn-outline-success" (click)="editKind(kind)">Bearbeiten</button>
            <button type="button" class="btn btn-outline-danger ms-2" (click)="deleteKind(kind.id)">Löschen</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>