.page-title {
  margin-top: 2rem;
  font-family: "KGSecondChancesSketch";
  color: #198754;
  font-size: 3rem;
}

.card-0 {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.card-0 .card-body {
  padding: 2rem;
}

.bg-warning-subtle {
  background-color: #fff3cd !important;
}

.container_bottom {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.right-column {
  padding-left: 3rem; /* Abstand zur Linie */
}

.left-column {
  padding-right: 3rem; /* Abstand zur Linie */
}