.textarea {
    min-height: 100px;
    min-width: 500px;
}

.card-header{
    background-color: #2C4BB0;
    color: white;
    font-family: 'KGSecondChancesSketch';
}

.text-header {
    font-weight: bold;
}