.page-title {
  margin-top: 2rem;
  font-family: "KGSecondChancesSketch";
  color: #198754;
  font-size: 3rem;
}

.no-border {
  border: none;       /* entfernt die Rahmenlinie */
  box-shadow: none;   /* entfernt ggf. Schatten bei Fokus */
  outline: none;      /* entfernt die Umrandung beim Fokussieren */
  background-color: transparent; /* optional, damit kein Hintergrund sichtbar ist */
}

.card-header {
    background: linear-gradient(135deg, #007bff, #00c6ff);
}

.p-3.mb-3{
  max-width: 50%;
  margin: 0 auto; /* zentriert  */
}