<div class="container my-5">
  <!--<div class="row mt-4">-->
    <!-- Linke Spalte: Beobachtung hinzufügen -->
    <!-- <div class="col-5"> -->
      <form [formGroup]="childForm" (ngSubmit)="addChildren()" class="mb-3">
        <div class="card">
          <div class="card-header fs-2 text-center">
            Beobachtung hinzufügen
          </div>
          <div class="card-body">

            <!-- Beobachtung -->
            <div class="mb-3">
              <label for="observation" class="text-header">Beobachtung</label>
              <input id="observation" class="form-control" formControlName="observation">
            </div>

            <!-- Geschlecht / Alter -->
          <div class="row">
            <div class="col-6 mb-3">
              <label for="gender" class="text-header">Geschlecht</label>
              <input id="gender" class="form-control" formControlName="gender">
            </div>
            <div class="col-6 mb-3">
              <label for="age" class="text-header">Alter</label>
              <input id="age" class="form-control" formControlName="age">
            </div>
          </div>

            <!--Bereich -->
            <div class="mb-3">
              <label for="areaSelect">Bereich</label>
              <select id="areaSelect" class="form-select" formControlName="area" (change)="onAreaChange()">
                <option value="">-- Bereich wählen --</option>
                <option *ngFor="let area of areaList" [value]="area.name">{{ area.name }}</option>
              </select>
            </div>

            <div class="d-flex justify-content-center mt-3">
              <button type="submit" class="btn btn-outline-success">Lösungsvorschlag erstellen</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Rechte Spalte: Vorschlag -->
    <div *ngIf="showSolution">
      <form [formGroup]="solutionForm" class="mb-3">
        <div class="card">
          <div class="card-header fs-2 text-center">Vorschlag</div>
          <div class="card-body">

            <div class="mb-3">
              <label class="text-header">Nummer</label>
              <input class="form-control" formControlName="childID">
            </div>

            <div class="row">
              <div class="col-6 mb-3">
                <label class="text-header">Geschlecht</label>
                <input class="form-control" formControlName="gender">
              </div>
              <div class="col-6 mb-3">
                <label class="text-header">Alter</label>
                <input class="form-control" formControlName="age">
              </div>
            </div>

            <div class="mb-3">
              <label class="text-header">Beobachtung</label>
              <input class="form-control" formControlName="observation">
            </div>

            <div class="mb-3">
              <label class="text-header">Bereich</label>
              <select class="form-select" formControlName="area" (change)="onAreaChange()">
                <option value="">-- Bereich wählen --</option>
                <option *ngFor="let area of areaList" [value]="area.name">{{ area.name }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="text-header">Teilbereich</label>
              <select class="form-select" formControlName="sub" (change)="onSubChange()">
                <option value="">-- Teilbereich wählen --</option>
                <option *ngFor="let sub of subList" [value]="sub.name">{{ sub.name }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="text-header">Unterbereich</label>
              <select class="form-select" formControlName="subsec">
                <option value="">-- Unterbereich wählen --</option>
                <option *ngFor="let subsec of subsecList" [value]="subsec">{{ subsec }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="text-header">Ziel</label>
              <input class="form-control" formControlName="goal">
            </div>

            <div class="mb-3">
              <label class="text-header">Aktivität</label>
              <input class="form-control" formControlName="activity">
            </div>

            <div class="mb-3">
              <label class="text-header">Altersgruppe</label>
              <input class="form-control" formControlName="ageOut">
            </div>

            <div class="d-flex justify-content-center mt-3">
              <button type="button" class="btn btn-outline-success" (click)="updateChildren()">
                Speichern der Daten
              </button>
            </div>

          </div>
        </div>
      </form>
    </div>