.text-header-top {
    color: #2C4BB0
}

.text-header-bottom{
font-family: "KGSecondChancesSketch";
font-size: 1.5rem;
}

.sidebar-text {
    font-family: "KGSecondChancesSketch";
    color: #ffffff;
}

.custom-sidebar-bg {
 background: linear-gradient(180deg, #2C4BB0 0%, #1e3a8a 100%);
}

.custom-sidebar-bg i {
 
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.logo {
  margin-top: 1.5rem;
  width: 10rem;
  height: auto;
  margin-bottom: 2rem;
}

.nav-link:hover i {
  color: #000000;
}

#offcanvasSidebar {
  width: 250px;
}

#offcanvasSidebar .sidebar-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}