@font-face {
    font-family: 'KGSecondChancesSketch';
    src: url('/KGSecondChancesSketch.ttf') format('truetype');
}

@font-face {
    font-family: 'Kindergarten';
    src: url('/kindergarten.ttf') format('truetype');
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background: white;
}

/* Wrapper: sorgt fürs Zentrieren */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C4BB0;
}

/* Login-Karte */
.login-card {
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
}