@font-face {
    font-family: 'KGSecondChancesSketch';
    src: url('/KGSecondChancesSketch.ttf') format('truetype');
}

@font-face {
    font-family: 'Kindergarten';
    src: url('/kindergarten.ttf') format('truetype');
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}